$logoColor: #46B1DE;
$blackColor: #1B1D1F;
$whiteColor: #FFFFFF;
$footerColor: #0F2D4A;

%titleLogo{color: $logoColor;
    font-family: 'Sofia Sans';
    font-style: normal;
}
%linkTop{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    color: $blackColor;
    text-decoration: none;
}
%title{
    font-family: 'Roboto';
    font-style: normal;
}
%button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    padding: 16px 35px;
    border-radius: 8px;
}
%buttonText {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    text-transform: uppercase;
    line-height: 27px;
}
%cardText {
    font-family: 'Roboto';
    font-style: normal;
}
%whatEnd {
    position: absolute;
    text-align: end;
    animation-name: zub;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-delay: 5s;
}
%whatStart {
    position: absolute;
    text-align: start;
    animation-name: zub1;
    animation-duration: 1s;
    animation-timing-function: linear;
    width: 980px;
    animation-delay: 5s;
}
%formButtons{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    line-height: 27px;
    text-align: center;
    color: rgba(27, 29, 31, 0.51);
    border: none;
    outline: none;
    width: 233px;
    height: 57px;
    background: rgba(217, 217, 217, 0.71);
    border-radius: 8px;
    margin-left: 18px;
}
%footerText{
    font-family: 'Sofia Sans';
    font-style: normal;
    font-weight: 900;
    color: $footerColor;
}
%workingText{
    font-family: 'Roboto';
    font-style: normal;
    font-size: 20px;
    color: $footerColor;
}
%columText {
    font-family: 'Roboto';
    font-style: normal;
    color: $whiteColor;
}
%messenger {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: $whiteColor;
}
$desktop-margin: 90px;
$mobile-margin: 30px;
@mixin sectionMargin {
    @media (min-width: 768px) {
        margin-bottom: $desktop-margin;
    }

    @media (max-width: 767px) {
        margin-bottom: $mobile-margin;
    }
}